* {
    box-sizing: border-box;
}

/*common*/

header, section, footer {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*header*/
header {
    width: 100%;
    background-color: black;
    height: 57px;
    position: relative;
}

.inscription_SitOnChair {
    float: left;
    position: absolute;
    top: 11px;
    left: 155px;
}

p.inscription_SitOnChair {
    color: white;
    line-height: 55px;
    font-size: 15px;
}

.accentFontColor {
    color: #2FBDA3;
}

nav {
    float: right;
    position: absolute;
    top: 6px;
    right: 112px;
    letter-spacing: -0.5px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    line-height: 67px;
}

ul.menu_header li.offer {
    position: relative;
}

.submenu {
    position: absolute;
    display: none;
    width: 200px;
    left: -50%;
}

ul.menu_header li {
    font-size: 16px;
}

ul.menu_header > li, ul.menu_header li a {
    color: white;
    text-decoration: none;
}

ul.menu_header li a {
    display: inline-block;
}

ul.menu_header li.offer, ul.menu_header li a {
    padding: 0 22px;
}

ul.menu_header li a {
    width: 100%;
}

ul.menu_header > li {
    margin: 0;
    float: left;
}

.menu_header li.offer:hover .submenu {
    display: block;
}

ul.submenu li, ul.submenu li a {
    color: white;
    font-size: 19px;
    padding-top: -10px;
    padding-bottom: -10px;
}

ul.submenu li {
    display: block;
    background-color: black;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -10px;
}

/*section banner*/

#banner {
    background: linear-gradient(to bottom right, #fff, #cccdd4);
    height: 504px;
    position: relative;
}

.image_container p.banner_elements_left {
    font-size: 80px;
    font-weight: 700;
    color: #19B99D;
    position: absolute;
    top: 214px;
    left: 76px;
}

.text_banner p.banner_elements_right {
    font-size: 80px;
    font-weight: 700;
    color: #19B99D;
    position: absolute;
    top: 235px;
    right: -125px;
}

.image_container {
    width: 50%;
    float: left;
    position: relative;
}

.image_black_chair {
    background-image: url("../images/black_chair.png");
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 423px;
    position: absolute;
    top: 70px;
    left: 112px;
}

.text_banner {
    width: 50%;
    float: right;
    position: relative;
    right: 15px;
}

.text_banner h1 {
    text-align: center;
    letter-spacing: -2.5px;
    font-size: 45px;
    font-weight: 500;
    position: absolute;
    top: 132px;
    left: 16px;
}

.accentFontColorBanner {
    letter-spacing: -3.5px;
    color: #2FBDA3;
}

.text_banner p {
    color: black;
    width: 390px;
    text-align: center;
    position: absolute;
    top: 195px;
    padding-top: 30px;
    line-height: 20px;
    margin-top: -15px;
}

.text_banner a.banner_button {
    position: absolute;
    top: 147px;
    left: 66px;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 0.5px;
    display: inline-block;
    text-align: center;
    line-height: 29px;
    background-color: #24BA9F;
    border-radius: 5px;
    color: white;
    padding: 12px;
    width: 261px;
    height: 50px;
}

#banner:before,
#banner:after {
    content: '';
    clear: both;
    display: block;
}

/*section gallery*/

#gallery {
    height: 341px;
    margin-bottom: 10px;
    position: relative;
}

.box {
    width: 1117px;
    height: 300px;
    position: absolute;
    top: 28px;
    left: 152px;
}

.small_box1 {
    width: 29.33%;
    height: 224px;
    margin-right: 3%;
    float: left;
    background-image: url("../images/box1_img.jpg");
    background-size: cover;
    border: 1px solid #DADADA;
    position: relative;
}

.small_banner1 {
    width: 100%;
    height: 61px;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    bottom: 12px;
}

.small_banner1 p {
    color: black;
    font-weight: 600;
    position: absolute;
    top: 13px;
    left: 12px;
}

.small_banner1 hr {
    height: 7px;
    background-color: #26C6AA;
    width: 42%;
    position: absolute;
    top: 16px;
    left: 12px;
}

.small_box2 {
    width: 29.33%;
    height: 224px;
    margin-right: 3%;
    float: left;
    background-image: url("../images/box2_img.jpg");
    background-size: cover;
    border: 1px solid #DADADA;
    position: relative;
}

.small_banner2 {
    width: 100%;
    height: 61px;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    bottom: 12px;

}

.small_banner2 p {
    color: black;
    font-weight: 600;
    letter-spacing: -0.5px;
    position: absolute;
    top: 13px;
    left: 10px;
}

.small_banner2 hr {
    height: 7px;
    background-color: #26C6AA;
    width: 42%;
    position: absolute;
    top: 16px;
    left: 10px;
}

.small_box3 {
    float: left;
    margin-right: 0;
    height: 253px;
    width: 30.33%;
    border: 1px solid #DADADA;
    position: relative;
}

.small_box3 p.header_in_banner {
    color: black;
    font-weight: 700;
    position: absolute;
    top: 27px;
    left: 15px;
    letter-spacing: 0.5px;
}

.small_box3 hr {
    height: 7px;
    background-color: #26C6AA;
    width: 42%;
    margin-left: 23px;
    position: absolute;
    top: 31px;
    left: -8px;
}

.small_box3 p.banner3_paragraph1 {
    color: black;
    position: absolute;
    top: 68px;
    left: 14px;
}

.small_box3 p.banner3_paragraph2 {
    color: black;
    position: absolute;
    top: 171px;
    left: 14px;
}

/*section price_list*/

#price_list {
    background-color: #ECEDEF;
    height: 700px;
    position: relative;
}

.header_price_list p {
    font-size: 20px;
    font-weight: 500;
    color: black;
    letter-spacing: 1.5px;
    position: absolute;
    top: 44px;
    left: 156px;
}

.header_price_list hr {
    height: 7px;
    background-color: #24BA9F;
    width: 24%;
    position: absolute;
    top: 58px;
    left: 154px;
}

#main_part_section {
    position: absolute;
    top: 132px;
    left: 151px;
}

/*item1*/

.item1 {
    width:330px;
    height: 500px;
    border: 2px solid #C2C2C2;
    position: relative;
    float: left;
    margin-top: 25px;
    margin-right: 30px;
    background-color: white;
}

.circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #C2C2C2;
    background-color: white;
    position: absolute;
    top: -38px;
    left: 137px;

}

.small-circle {
    width: 25px;
    height: 25px;
    background-color: #C2C2C2;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.item1 h1 {
    color: #24BA9F;
    font-size: 22px;
    margin: auto;
    position: absolute;
    top: 28px;
    left: 103px;
    text-transform: uppercase;
}

.top_circle {
    width: 127px;
    height: 127px;
    border-radius: 50%;
    border: 2px solid #C2C2C2;
    background-color: white;
    position: absolute;
    top: 81px;
    left: 101px;
}

.top_circle p.big_price {
    color: #BBBBBB;
    font-size: 45px;
    position: absolute;
    top: 23px;
    left: 33px;
    font-weight: 700;
}

.top_circle .big_price .big_price_number {
    position: absolute;
    top: 8px;
    left: 26px;
    font-weight: 700;
}

.top_circle p.small_price {
    color: #BBBBBB;
    font-size: 18px;
    position: absolute;
    top: 28px;
    left: 83px;
}

.top_circle p.currency {
    color: #BBBBBB;
    font-size: 15px;
    position: absolute;
    top: 80px;
    left: 24px;
    letter-spacing: 1.5px;
    font-weight: 600;

}

.item1_banner {
    width: 100%;
    height: 41px;
    background-color: #E4E4E4;
    position: absolute;
    top: 244px;
}

.item1_banner p {
    font-size: 25px;
    color: #A0A0A0;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.5px;
}

.item1_banner_second p {
    font-size: 24px;
    color: #7C7C7C;
    line-height: 40px;
    position: absolute;
    top: 289px;
    left: 129px;
    letter-spacing: 1.5px;
}

.button_down {
    width: 121px;
    height: 34px;
    text-decoration: none;
    background-color: #27C7AB;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 37px;
    position: absolute;
    bottom: 19px;
    left: 105px;
}

/*item2*/

.item2 {
    width:330px;
    height: 500px;
    border: 2px solid #27C7AB;
    position: relative;
    float: left;
    margin-top: 28px;
    margin-right: 30px;
    background-color: #27C7AB;
}

.circle2 {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #27C7AB;
    position: absolute;
    top: -40px;
    left: 138px;

}

.small-circle2 {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.item2 h1 {
    color: white;
    font-size: 22px;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 78px;
    text-transform: uppercase;
}

.top_circle2 {
    width: 127px;
    height: 127px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 78px;
    left: 103px;
}

.top_circle2 p.big_price2 {
    color: #24BA9F;
    font-size: 45px;
    position: absolute;
    top: 33px;
    left: 35px;
    font-weight: 700;
}

.top_circle2 .big_price2 .big_price_number2 {
    position: absolute;
    font-weight: 700;
}

.top_circle2 p.small_price2 {
    color: #24BA9F;
    font-size: 18px;
    position: absolute;
    top: 29px;
    left: 83px;
}

.top_circle2 p.currency2 {
    color: #24BA9F;
    font-size: 15px;
    position: absolute;
    top: 83px;
    left: 24px;
    letter-spacing: 1.5px;
    font-weight: 600;

}

.item2_banner {
    width: 100%;
    height: 137px;
    background-color: white;
    position: absolute;
    top: 240px;
}

.item2_banner_first_paragraph p {
    font-size: 24px;
    color: #969696;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.5px;
}

.item2_banner_second_paragraph {
    height: 50px;
    width: 100%;
    font-size: 24px;
    color: #969696;
    line-height: 48px;
    position: absolute;
    top: 44px;
    background-color: #F1F1F1;
}

.item2_banner_second_paragraph p {
    font-size: 24px;
    color: #969696;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1.5px;
}

.item2_banner_third_paragraph {
    height: 45px;
    width: 100%;
    font-size: 24px;
    color: #969696;
    line-height: 48px;
    position: absolute;
    top: 93px;
    background-color: white;
    letter-spacing: 0.5px;
}

.item2_banner_third_paragraph p {
    font-size: 24px;
    color: #969696;
    text-align: center;
    line-height: 40px;
}

.button_down2 {
    width: 121px;
    height: 34px;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    color: #27C7AB;
    font-size: 15px;
    text-align: center;
    line-height: 37px;
    position: absolute;
    bottom: 19px;
    left: 105px;
}

/*item3*/

.item3 {
    width:330px;
    height: 500px;
    border: 2px solid #C2C2C2;
    position: relative;
    float: left;
    margin-top: 25px;
    margin-right: 30px;
    background-color: white;
}

.circle3 {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #C2C2C2;
    background-color: white;
    position: absolute;
    top: -38px;
    left: 139px;
}

.small-circle3 {
    width: 25px;
    height: 25px;
    background-color: #C2C2C2;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.item3 h1 {
    color: #24BA9F;
    font-size: 22px;
    margin: auto;
    position: absolute;
    top: 28px;
    left: 78px;
    text-transform: uppercase;
}

.top_circle3 {
    width: 127px;
    height: 127px;
    border-radius: 50%;
    border: 2px solid #C2C2C2;
    background-color: white;
    position: absolute;
    top: 81px;
    left: 103px;
}

.top_circle3 p.big_price3 {
    color: #BBBBBB;
    font-size: 45px;
    position: absolute;
    top: 26px;
    left: 17px;
    font-weight: 700;
}

.top_circle3 .big_price3 .big_price_number3 {
    position: absolute;
    top: 4px;
    font-weight: 700;
}

.top_circle3 p.small_price3 {
    color: #BBBBBB;
    font-size: 18px;
    position: absolute;
    top: 27px;
    left: 82px;
}

.top_circle3 p.currency3 {
    color: #BBBBBB;
    font-size: 15px;
    position: absolute;
    top: 80px;
    left: 24px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.item3_banner {
    width: 100%;
    height: 168px;
    position: absolute;
    top: 243px;
}

.item3_banner_first_paragraph {
    background-color: #E4E4E4;
    height: 49px;
}

.item3_banner_first_paragraph p {
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    color: #B5B5B5;
    letter-spacing: 0.5px;
}

.item3_banner_second_paragraph {
    height: 50px;
    width: 100%;
    font-size: 24px;
    color: #969696;
    line-height: 48px;
    position: absolute;
    top: 45px;
    background-color: #F1F1F1;
}

.item3_banner_second_paragraph p {
    font-size: 24px;
    color: #969696;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.5px;
}

.item3_banner_third_paragraph {
    height: 50px;
    width: 100%;
    font-size: 24px;
    color: #969696;
    line-height: 48px;
    position: absolute;
    top: 90px;
    background-color: #E4E4E4;
}

.item3_banner_third_paragraph p {
    font-size: 24px;
    color: #969696;
    text-align: center;
    line-height: 38px;
}

.item3_banner_fourth_paragraph {
    height: 50px;
    width: 100%;
    font-size: 24px;
    color: #969696;
    line-height: 48px;
    position: absolute;
    top: 136px;
    background-color: #F1F1F1;
}

.item3_banner_fourth_paragraph p {
    font-size: 24px;
    color: #969696;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.5px;
}

.button_down3 {
    width: 121px;
    height: 34px;
    text-decoration: none;
    background-color: #27C7AB;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 37px;
    position: absolute;
    bottom: 19px;
    left: 105px;

}

/*section contact*/

#contact {
    background-color: white;
    height: 585px;
    position: relative;
}

.header_contact {
    width: 100%;
    height: 100px;
}

.header_contact p {
    font-size: 20px;
    font-weight: 500;
    color: black;
    position: absolute;
    top: 56px;
    left: 160px;
}

.header_contact hr {
    height: 8px;
    background-color: #24BA9F;
    width: 24%;
    position: absolute;
    top: 71px;
    left: 159px;
}

.formular {
    width: 65%;
    height: 500px;
    float: left;
    position: relative;
}

form {
    width: 85%;
    position: absolute;
    top: 17px;
    left: 82px;
}

input, textarea {
    display: block;
    width: 100%;
    border: 1px solid #24BA9F;
    margin-top: 22px;
}

input {
    height: 68px;
    width: 635px;
}
textarea {
    height: 192px;
    width: 635px;
}

.second_part_contact {
    width: 35%;
    height: 500px;
    float: right;
    position: relative;
}

.second_part_contact .photo_contact {
    background-image: url("../images/red_chair.png");
    background-size: cover;
    width: 245px;
    height: 205px;
    position: absolute;
    top: 13px;
    left: 17px;
}

.check-box {
    height: 80px;
    position: relative;
}

.check-box #check {
    float: left;
    border: 1px solid #24BA9F;
    width: 66px;
    height: 48px;
    position: absolute;
    top: 231px;
    left: -13px;
    color: #24BA9F;
}

.check-box #question {
    float: right;
    width: 70%;
    position: absolute;
    top: 255px;
    left: 56px;
    font-size: 20px;
    color: #B7B7B7;
    letter-spacing: 1.5px;
}

.second_part_contact a.button_send {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 72px;
    font-size: 33px;
    background-color: #24BA9F;
    border-radius: 10px;
    color: white;
    width: 342px;
    height: 72px;
    position: absolute;
    top: 340px;
    left: -5px;
    font-weight: 700;
}

/*footer*/

footer {
    height: 66px;
    margin: 0 auto;
}

.left_part_footer {
    height: 50px;
    width: 65%;
    float: left;
    position: relative;
}

.left_part_footer p {
    color: #C1C1C1;
    font-size: 18px;
    float: left;
    height: 40px;
    width: 65%;
    line-height: 40px;
    position: absolute;
    top: 0px;
    left: 76px;
    letter-spacing: 0.5px;
}

.right_part_footer {
    height: 50px;
    width: 35%;
    float: right;
    position: relative;
}

.right_part_footer .flickr {
    width: 40px;
    height: 40px;
    float: left;
    position: absolute;
    left: -5px;
    top: -4px;
}

.right_part_footer .vimeo {
    width: 40px;
    height: 40px;
    float: left;
    position: absolute;
    top: -4px;
    left: 33px;
}

.right_part_footer .pinterest {
    width: 40px;
    height: 40px;
    float: left;
    position: absolute;
    top: -4px;
    left: 74px;
}
.right_part_footer .twitter {
    width: 40px;
    height: 40px;
    float: left;
    position: absolute;
    top: -4px;
    left: 111px;
}

.right_part_footer_paragraph p {
    float: right;
    font-size: 20px;
    line-height: 45px;
    position: absolute;
    top: -4px;
    right: 59px;
    color: #959595;
    letter-spacing: 1.5px;
}

.footer_span {
    color: #929292;
    font-weight: 700;
}











