
input, textarea, button {
    display: block;
    margin: 10px;
}

button[type="submit"] {
    background-color: red;
    width: 50px;
    height: 50px;
    font-style: italic;
}

input:focus, textarea:focus {
    outline: 0px;
}

textarea {
    width: 200px;
    height: 100px;
}
