@font-face {
    font-family: 'BungeeInline-Regular';
    src: url('../fonts/BungeeInline-Regular.eot');
    src: local('Bungee Inline'), local('BungeeInline-Regular'),
    url('../fonts/BungeeInline-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BungeeInline-Regular.woff2') format('woff2'),
    url('../fonts/BungeeInline-Regular.woff') format('woff'),
    url('../fonts/BungeeInline-Regular.ttf') format('truetype'),
    url('../fonts/BungeeInline-Regular.svg#BungeeInline-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-face {
    font-family: BungeeInline-Regular;

}


.container{
    width: 800px;
    margin: 0 auto;


}

header {
    width: 100%;
    height: 700px;
    background-image: url("../images/concert.jpg");
    background-size:auto ;
    background-position: center;

}
h1 {
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;

    text-align: center;
    line-height: 700px;
}




section {
    width: 100%;
    height: 350px;
    background-color: #FFFFFF;
}
.first-article {

    font-size: 22px;
    line-height: 26px;
    margin-top: 100px;
}


p {

    font-weight: 400;

}

footer {
    width: 100%;
    height: 200px;
    background-color: #000000;
    margin: 0 auto;
    text-align: right;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}



article > span {
    color: orange;
    font-size: 14px;
}