/* Zadania rozwiązywane z wykładowcą
p {
    background-color: red;
}

p#inny {
    background-color: blue;
}

.blog {
    background-color: beige;
}

div.blog p {
    background-color: pink;
}

p#rodzic {
    background-color: orange;
}

div#rodzic > p{
    background-color: green;
}

div#other + p{
    background-color: brown;
}

p#inny~p {
    background-color: violet;
}
*/

/*Zadania do samodzielnego wykonania*/

/*Zadanie 1. Łączenie selektorów
h1, h2, h3, h4, h5 {
    background-color: green;
}

.black, .white {
    background-color: grey;
}

div.important {
    background-color: green;
}

div.white * {
    background-color: blue;
}
*/
/*
input[type*="submit"] {
    background-color: blue;
}

input[type*="email"]{
    background-color: green;
}

label[class*="main-width"] {
    background-color: red;
}

span[class$="main-width"]{
    background-color: pink;
}*/