/*Zadania rozwiązywane z wykładowcą

div {
    width: 100px;
    height: 100px;
    border: 1px solid green;
    float:left;
}


.parent {
    width: 800px;
    border: 1px solid red;
}

.parent:after, .parent:before {
    clear: both;
    content: "";
    display: block;
}

.clear {
    clear: both;
}
*/
/*Zadania do samodzielnego wykonania*/

/*Zadanie 1. Proste menu

* {
    box-sizing: border-box;
}

li {
    width: 24%;
    height: 100px;
    border: 1px solid green;
    float: left;
    list-style-type: none;
    text-align: center;
    line-height: 100px;
    margin-right:10px;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

ul:after, ul:before {
    clear: both;
    content: '';
    }
*/
/*Zadanie 2 Zaawansowane pozycjonowanie
img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
}
*/
/*Zadanie 3. Zaawansowane pozycjonowanie
img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid blue;
    position: absolute;
    bottom: -50px;
    right: -50px

}

div {
    border: 1px solid blue;
    position: relative;
    width: 80%;
}
*/
/*Zadanie 4. Trzeci wymiar
.jez2 {
    width: 200px;
    height: 200px;
    z-index: 1;
    border-radius: 50%;
    position: relative;
    right: -50px;
    bottom: -50px;

}

.jez1 {
    width: 200px;
    height: 200px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
}
*/
/*Zadanie 5. Zakładka*/
* {
    box-sizing: border-box;
}
.item {
    border: 5px solid black;
    width: 300px;
    height: 400px;
    margin: 50px;
    position: relative;
}

.circle, .small-circle {
    border-radius: 50%;
}
.circle {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    margin: auto;
}

.small-circle {
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
header {
    text-align: center;
    margin-top: 75px;
}

.tresc {
    padding: 10px 10px 10px 10px;
}

.parent:after, .parent:before {
    content: '';
    clear: both;
    display: block;
}

.itemy {
    float: left;
}






