* {
    box-sizing: border-box;
}

/*common*/
body > header, .gallery {
    width: 100%;
    background-color: black;
    color: white;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

h1, nav {
    color: white;
}

#middle_section, .gallery, footer {
    margin-top: 10px;
}


/*header*/

.main_header {
    height: 40px;
}

.logo {
    height: 40px;
    display: inline-block;
}

img {
    height: 100%;
}

nav {
    float: right;
}

li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 10px;
    line-height: 40px;
}

ul.menu li.offer {
    position: relative;
}

.submenu {
    position: absolute;
    display: none;
    width: 200px;
    left: -50%;
}

ul.menu li {
    font-size: 16px;
    text-transform: uppercase;
}

ul.menu > li, ul.menu > li a {
    color: white;
    text-decoration: none;
}

ul.menu li a {
    display: inline-block;
}

ul.menu li.offer, ul.menu li a {
    padding: 0 22px;
}

ul.menu li a {
    width: 100%;
}

ul.menu > li {
    background-color: dodgerblue;
    margin: 0;
    float: left;
}

ul.menu li:hover {
    background-color: darkblue;
}
.menu li.offer:hover .submenu {
    display: block;
}

ul.submenu li, ul.submenu li a {
    color: black;
}

ul.submenu li {
    display: block;
    background-color: lightblue;
    border-bottom: 1px solid white;
    text-align: center;
}

ul.submenu li:last-child {
    border-bottom: none;
}

ul.submenu li:hover {
    background-color: cadetblue;
}





.main_header:before,
.main_header:after {
    content: '';
    clear: both;
    display: block;
}

/*content*/
#middle_section {
    margin-top: 24px;
    margin-bottom: 24px;
}

.image {
    float: left;
    width: 50%;
    height: 240px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img_krajobraz {
    width: 100%;
    height: 100%;
}

.img_krajobraz_jesien {
    height: 50%;
    background-position: top;
    float: left;
    padding: 10px;
}


article.text {
    margin-top: 10px;
    margin-bottom: 10px;
}

article.text p {
    float: right;
    width: 50%;
    padding: 24px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

#middle_section:after {
    content: '';
    clear: both;
    display: block;
}


.gallery {
    height: 270px;
    position: relative;
    margin-bottom: 10px;
}

.box {
    width: 1000px;
    margin: auto;
    height: 240px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.small_box {
    width: 32.33%;
    background-color: white;
    height: 240px;
    float: left;
    margin-right: 1%;
}

.small_box:first-child {
     background-image: url("../images2.1/samochód_biały.png");
     background-size: cover;
 }

.small_box:nth-child(2) {
    background-image: url("../images2.1/Samochod_niebieski.png");
    background-size: cover;
}

.small_box:last-child {
    margin-right: 0;
    width: 33.33%;
}

.small_box:before,
.small_box:after {
    content: '';
    clear: both;
    display: block;
}


/*footer*/
span {
    float: right;
}




