/* Zadania rozwiazywan z wykładowcą

.container {
    width: 400px;
    height: 400px;
    border: 1px solid blue;
}

.one {
    width: 350px;
    height: 350px;
    border: 1px solid red;
}

span {
    padding-bottom: 50px;
    padding-left: 100px;
} */

/* Zadania do samodzielnego wykonania*/


